<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <base href="/">
    <title>Admin</title>


    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-WTGPHG3"></script>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WTGPHG3');
    </script>

    <link href="/resources/admin/css/main.css" rel="stylesheet">
    <script charset="utf-8" src="/28.aff58f621df90edd9fe6.js"></script>
    <script charset="utf-8" src="/16.25275fdd78d18ddd80e0.js"></script>
    <link rel="stylesheet" type="text/css" href="/resources/admin/css/31.css">
    <script charset="utf-8" src="/31.44a2022dd1f3bb3a0e12.js"></script>
    <script charset="utf-8" src="/142.ed26771c04615b6cb9a7.js"></script>
    <script charset="utf-8" src="/1.34b3924b9fbcfd0f1153.js"></script>
    <script charset="utf-8" src="/2.d94dfb37ae7ff792c1e2.js"></script>
    <script charset="utf-8" src="/4.84fba59c5a64e748454e.js"></script>
    <script charset="utf-8" src="/15.7a37258572966c3eabbb.js"></script>
    <script charset="utf-8" src="/33.f4a42d827aa4c5b475e3.js"></script>
    <style type="text/css">/* Chart.js */
    /*
     * DOM element rendering detection
     * https://davidwalsh.name/detect-node-insertion
     */
    @keyframes chartjs-render-animation {
        from {
            opacity: 0.99;
        }
        to {
            opacity: 1;
        }
    }

    .chartjs-render-monitor {
        animation: chartjs-render-animation 0.001s;
    }

    /*
     * DOM element resizing detection
     * https://github.com/marcj/css-element-queries
     */
    .chartjs-size-monitor,
    .chartjs-size-monitor-expand,
    .chartjs-size-monitor-shrink {
        position: absolute;
        direction: ltr;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        pointer-events: none;
        visibility: hidden;
        z-index: -1;
    }

    .chartjs-size-monitor-expand > div {
        position: absolute;
        width: 1000000px;
        height: 1000000px;
        left: 0;
        top: 0;
    }

    .chartjs-size-monitor-shrink > div {
        position: absolute;
        width: 200%;
        height: 200%;
        left: 0;
        top: 0;
    }
    </style>
    <script charset="utf-8" src="/22.4aa32ffb51262e3ef6d0.js"></script>
    <script charset="utf-8" src="/23.1e0d1cc275c5672cbaa9.js"></script>
    <script charset="utf-8" src="/32.f953b8cd11d71faf8ae1.js"></script>
    <script charset="utf-8" src="/19.0f84d29fc91f9b07f9ea.js"></script>
    <script charset="utf-8" src="/152.8516c5d527a6930e4761.js"></script>
    <script charset="utf-8" src="/5.510f388aa8fb4182092b.js"></script>
    <script charset="utf-8" src="/101.64d17ceaebcbcb8c067e.js"></script>
    <script charset="utf-8" src="/102.e857d12cbb8f5eb74a07.js"></script>
    <script charset="utf-8" src="/120.e0eb45aea707acbdb28f.js"></script>
    <script charset="utf-8" src="/116.f06bed8ff14a36e839e6.js"></script>
    <script charset="utf-8" src="/107.c3d3a1d6a3949d0e6b8d.js"></script>
    <script charset="utf-8" src="/106.0f94893256dd1506a527.js"></script>
    <script charset="utf-8" src="/66.0bbcc148987f516699e3.js"></script>
    <script charset="utf-8" src="/105.16d59dff1927ab238172.js"></script>
    <script charset="utf-8" src="/96.eaa2be5fa084fec88563.js"></script>
    <script charset="utf-8" src="/95.d4593b1f69a56557dac4.js"></script>
    <script charset="utf-8" src="/104.c2b4a11cc8dc2e571e7b.js"></script>
    <script charset="utf-8" src="/103.110ab173b8fde138e0bc.js"></script>
    <script charset="utf-8" src="/82.c7f354678c18dab58fe1.js"></script>
    <script charset="utf-8" src="/3.006d34b6847353de3fd9.js"></script>
    <script charset="utf-8" src="/14.abcb20a3961ac7a3163a.js"></script>
    <script charset="utf-8" src="/34.83d5e398c266f0624939.js"></script>
    <script charset="utf-8" src="/18.1b5356a44ca96d44b8af.js"></script>
    <script charset="utf-8" src="/52.7a3f0d5e24d0f31269d8.js"></script>
    <script charset="utf-8" src="/8.29ebddc8b983122c03b5.js"></script>
    <script charset="utf-8" src="/79.7250ea1cd13b543e6a8f.js"></script>
    <script charset="utf-8" src="/150.d323ba0a82c28660ae0f.js"></script>
    <script charset="utf-8" src="/94.8d901926e3c8ed594a9f.js"></script>
    <script charset="utf-8" src="/78.6c2d0479e56f90377be0.js"></script>
</head>

<body>

<noscript>
    <iframe title="googletagmanager" src="https://www.googletagmanager.com/ns.html?id=GTM-WTGPHG3" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
</noscript>


<div id="root">
    <div class="wrap ko_KR region_kr sub_page lnb_hide_large ua_win">
        <div class="container">
            <div class="contents member fix_layout">
            </div>
            <div class="contents sub member"><p class="sub_h_tit"><strong></strong></p>
                <div class="contents_head">
                    <ul class="breadcrumbs">
                        <li class="item"><a href="/">메인</a></li>
                        <li class="item"><a href="#">구성원</a></li>
                        <li class="item"><a href="#">구성원</a></li>
                        <li class="item"><a href="#">구성원 정보</a></li>
                    </ul>
                    <div class="title_cover"><h3 class="title"><span class="txt">구성원 정보</span> <a href="#"
                                                                                                  class="btn_help_contents"><i
                            class="blind">도움말</i></a> <a href="#" class="link_back">이전으로 돌아가기</a></h3>
                        <div class="task_area">
                            <div class="btn_combo">
                                <button type="button" class="lw_btn_drop btn_more">더보기</button>
                                <div class="ly_context" style="display: none;">
                                    <ul>
                                        <li><a href="#">앱 사용 차단</a></li>
                                        <li><a href="#">휴직 설정</a></li>
                                        <li><a href="#">계정 삭제</a></li>
                                        <li><a href="#">일시 정지</a></li>
                                    </ul>
                                </div>
                            </div>
                            <button type="button" class="lw_btn_point">구성원 수정</button>
                        </div>
                    </div>
                </div>
                <div class="contents_body dashboard">
                    <div class="fm_members minimize">
                        <div class="member">
                            <div class="thumb"><span class="thmb_area"><img
                                    src="https://static.worksmobile.net/static/pwe/wm/common/img_profile2.png"
                                    alt=""></span><span class="f_pic"><a href="#">등록</a></span><input type="file"
                                                                                                      accept="image/x-png, image/jpeg"
                                                                                                      style="display: none;">
                            </div>
                            <div class="infor">
                                <div class="name"><strong>최준우 </strong></div>
                                <div class="box"><span class="position">관리직</span><span class="email">admin_001@coworks.co.kr</span>
                                    <div class="status"><p class="point">사용중</p></div>
                                </div>
                            </div>
                        </div>
                        <div class="body">
                            <div class="field"><i class="hd">원직 회사·소속</i>
                                <ul class="list">
                                    <li class="box"><em class="h_li">회사</em><span class="txt">coworks</span></li>
                                    <li class="box"><em class="h_li">조직/직책</em>
                                        <ul class="txt_box"></ul>
                                    </li>
                                    <li class="box"><em class="h_li">고용형태</em></li>
                                    <li class="box"><em class="h_li">직급</em><span class="txt">관리직</span></li>
                                    <li class="box"><em class="h_li">사내 번호</em></li>
                                    <li class="box"><em class="h_li">휴대폰</em>
                                        <ul class="txt_box"></ul>
                                    </li>
                                    <li class="box"><em class="h_li">ID</em><span
                                            class="txt">admin_001@coworks.co.kr</span></li>
                                    <li class="box"><em class="h_li">보조 이메일</em>
                                        <ul class="txt_box"></ul>
                                    </li>
                                    <li class="box"><em class="h_li">개인 이메일</em><a href="#" class="link">chlwnsn@naver.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="field"><i class="hd">기타</i>
                                <ul class="list">
                                    <li class="box"><em class="h_li">사용 언어</em><span class="txt">Korean</span></li>
                                    <li class="box"><em class="h_li">담당 업무</em><span class="txt">Korean</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="settings">
                        <div class="col">
                            <div class="set_device"><h4 class="tit">디바이스</h4>
                                <p class="empty">사용 중인 디바이스가 없습니다.</p></div>
                            <div class="set_log"><h4 class="tit">접속현황</h4>
                                <ul>
                                    <li class="box"><i class="hd">Chrome / Windows</i>
                                        <div class="txt"><span>05-31 14:40</span><span
                                                class="data">대한민국 (124.58.66.23)</span></div>
                                    </li>
                                    <li class="box"><i class="hd">Chrome / Windows</i>
                                        <div class="txt"><span>05-14 03:22</span><span
                                                class="data">대한민국 (124.58.66.23)</span></div>
                                    </li>
                                    <li class="box"><i class="hd">Chrome / Windows</i>
                                        <div class="txt"><span>05-12 09:26</span><span
                                                class="data">대한민국 (124.58.66.23)</span></div>
                                    </li>
                                </ul>
                                <button type="button" class="btn_task">관리</button>
                            </div>
                        </div>
                        <div class="col">
                            <div class="set_usage"><h4 class="tit">사용 용량</h4>
                                <ul>
                                    <li class="svc_box"><i class="svc">메일</i>
                                        <div class="graph"><span style="width: 0%;"></span></div>
                                        <span class="infor"><strong>0GB</strong> / 30GB</span></li>
                                </ul>
                            </div>
                            <div class="set_security"><h4 class="tit">보안 설정</h4><h5 class="h_tit">보안 설정</h5>
                                <ul>
                                    <li class="box"><i class="hd">비밀번호</i>
                                        <div class="txt point">43일 전 변경</div>
                                        <button type="button" class="btn">변경</button>
                                    </li>
                                    <li class="sub_box"><i class="hd">간편 로그인</i>
                                        <div class="box"><i class="hd">휴대폰 로그인</i>
                                            <div class="txt point">연결 안 됨</div>
                                        </div>
                                        <div class="box"><i class="hd">네이버로 로그인</i>
                                            <div class="txt point">연결 안 됨</div>
                                        </div>
                                        <div class="box"><i class="hd">LINE으로 로그인</i>
                                            <div class="txt point">연결 안 됨</div>
                                        </div>
                                    </li>
                                    <li class="box"><i class="hd">구성원 검색 시 자동완성</i>
                                        <div class="txt point">표시</div>
                                    </li>
                                </ul>
                                <button type="button" class="btn_task">수정</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="datepicker-container"></div>
<div id="modal-root"></div>
<div id="loading-root"></div>
<div id="dialog-root"></div>
<div id="toast-root"></div>
<div id="configuration-manager-root"></div>
<script type="text/javascript" src="/main.js?2546e47a2a36c1f5eb2f"></script>

</body>
</html>