<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coworks.mapper.BoardMapper">

	<select id="getTime" resultType="String">
		SELECT sysdate FROM dual
	</select>

	
		<select id="selectPostingList"  resultType="com.coworks.board.domain.PostingVO">
	 	select * from Posting
<!-- 		<if test='regdate != null'> -->
<!-- 			<where> -->
<!-- 				<if test='board != null'> -->
<!-- 					board_number = #{board}  -->
<!-- 				</if> -->
<!-- 				<if test='contents != null'> -->
<!-- 					board_number = #{contents}  -->
<!-- 				</if> -->
<!-- 				<if test='regdate != null'> -->
<!-- 					posting_date_of_registration = #{regdate}  -->
<!-- 				</if> -->
<!-- 			</where> -->
<!-- 		</if> -->
	 	 order by posting_number desc
	</select>
	
	
	<!-- <select id="countBoard" parameterType="Criteria"  resultType="int">
		select count(*) from posting
		<if test='board != null or regdate != null'>
			<where>
				<if test='board != null'>
					board_number = #{board} 
				</if>
				<if test='contents != null'>
					board_number = #{contents} 
				</if>
				<if test='regdate != null'>
					posting_date_of_registration = #{regdate} 
				</if>
			</where>
		</if>
	</select> -->
	
	<insert id="insertPosting" parameterType="com.coworks.board.domain.PostingVO">
		insert into posting(posting_number, posting_title, posting_contents,
							 posting_hitpoint, posting_writer, posting_date_of_registration, isDeleted, board_number, membership_number )
			values(posting_seq.nextval, #{posting_title}, #{posting_contents},
						0, #{posting_writer}, sysdate, #{isDeleted}, #{board_number}, #{membership_number})
	</insert>
	
	<insert id="insertPostingWithKey">
		<selectKey keyProperty="posting_number" order="BEFORE" resultType="long">
			select posting_seq.nextval from dual
		</selectKey>
		
		
					insert into posting(posting_number, posting_title, posting_contents,
							 posting_hitpoint, posting_writer, posting_date_of_registration, isDeleted, board_number, membership_number )
			values(#{posting_number}, #{posting_title}, #{posting_contents},
						0, #{posting_writer}, sysdate, #{isDeleted}, #{board_number}, #{membership_number})
	
	</insert>
	
	<select id="detailPosting" parameterType="long" resultType="com.coworks.board.domain.PostingVO">
		select * from posting where posting_number=#{seq}
	</select>
	
	<delete id="deletePosting" parameterType="long">
		delete from posting where posting_number = #{seq}
	</delete>
	
	<update id="updatePosting" parameterType="com.coworks.board.domain.PostingVO">
		update posting set posting_title = #{posting_title}, posting_contents = #{posting_contents}
			where posting_number = #{posting_number} 
	</update>
	
<!-- 	<insert id="insertComment" parameterType="CommVO"> -->
<!-- 		insert into comm(comm_number, comm_name, comm_contents, comm_date_of_registration, posting_number) -->
<!-- 			values(comm_seq.nextval, #{comm_name}, #{comm_contents}, sysdate, #{posting_number}) -->
<!-- 	</insert> -->
	
<!-- 	<select id="selectCommentList" parameterType="int" resultType="CommVO"> -->
<!-- 		select * from comm where comm_number = #{seq} -->
<!-- 	</select> -->
	

	
</mapper>
